<td><%= name %></td>
<td><%= start_at %></td>
<td><%= end_at %></td>

<td><a href="#/<%= id %>"><button class="btn btn-warning">Show</button></a>
<a href="#/<%= id %>/destroy" class="destroy"><button class="btn btn-danger">Destroy</button></a></td>